@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-blue-900: hsl(230, 35%, 7%);
  --color-blue-300: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);
}

@theme inline {
  --font-barlow: var(--font-barlow);
  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-bellefair: var(--font-bellefair);
}
